.list {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.fav-card {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.buttons Button {
  margin: 0 1rem;
}

.div-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button {
  display: flex;
  align-items: center;
  margin: 0 0.3rem;
  padding: 0 1rem;
}

.input {
  margin-top: 3rem;
}
